/*  =============
      Universal
    ============= */
body{
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  color: grey;
  width: 100%;
  margin: 0 auto;
}
a {
  color: #FFF;
  text-decoration: none;
}
button{
  cursor: pointer;
}
.nav-bar{
  background-color: #ADD8E5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 200px;
  border-bottom: solid;
  border-top: solid;
}
.menu-link{
  padding-right: 15px;
  padding-top: 10px;  
}


/*  ========
      Menu
    ======== */
.directory{
  margin-top: 100px;
}
h1{
font-size: 40px;
}
.button-container{
      display: flex;
      flex-direction: column;
      max-width: 200px;
      margin: auto;
      min-height: 150px;
      justify-content: space-around;
    }
    .directory-buttons{
      border-color: #c4ebf1;
      border-radius: 4px;
      font-size: 28px;
      background-color: #89C7e7;
      font-family: 'Quicksand', sans-serif;
    }

/*  =================
      Media Queries
    ================= */
@media screen and (max-width: 1025px) {  
  /* ===> Menu <=== */
.directory-buttons{
  font-size: 22px;
  width: 175px;
  align-self: center;
}
} 