/*  =============
      Universal
    ============= */
body{
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  color: grey;
}
a {
  color: #FFF;
  text-decoration: none;
}
button{
  cursor: pointer;
}
.nav-bar{
  background-color: #ADD8E5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 200px;
  border-bottom: solid;
  border-top: solid;
}
.menu-link{
  padding-right: 15px;
}


/*  ================
      Landing Page
    ================ */
.content-container{
  display: flex;
    max-width: 55%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 100px auto;
}
.logo-container{
  display: flex;
  flex-direction: column;
}
.signup-container{
  display: flex;
  flex-direction: column;
  min-width: 300px;
  min-height: 300px;
  padding-top: 15px;
}


.large-logo{
  padding: 30px;
}
.slogan{
  font-size: 30px;
}
.signup-label{
  color: #89C7e7;
  font-weight: bolder;
}
.signup-form{
  display: flex;
  flex-direction: column;
  min-height: 350px;
  margin: 0 auto;
  justify-content: space-evenly;
}
.signup-label{
  font-size: 22px;
}
.signup-input{
  height: 40px;
  width: 300px;
  border: 2px lightgrey solid;
  border-radius: 4px;
  border-style: inset;
  font-family: 'Quicksand', sans-serif;
}
.start-button{
  color: white;
  border-color: #c4ebf1;
  background-color: #89C7e7;
  height: 30px;
  width: 200px;
  align-self: center;
  border-radius: 4px;
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
  font-weight:bolder;
}


/*  =================
      New Entry Page
    ================= */
.greeting{
  font-size: 30px;
  padding-top: 100px;
}
.prompt{
  font-size: 34px;
}
.newentry-form {
  display: flex;
  flex-direction: column;
  max-width: 25%;
  margin: 0 auto;
  min-height: 300px;
  justify-content: space-evenly;
}
.date{
  height: 40px;
  width: 300px;
  font-family: 'Quicksand', sans-serif;
}
.thought{
  height: 100px;
  border-radius: 4px;
  font-family: 'Quicksand', sans-serif;
  padding-left: 20px;
}
.add-button{
  color: white;
  border-color: #c4ebf1;
  background-color: #89C7e7;
  height: 30px;
  border-radius: 4px;
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
  font-weight:bolder;
}

/*  ========
      Feed
    ======== */
.entry-container{
  /* border: solid 3px black; */
  padding: 20px;
  text-align: left;
  max-width: 50%;
  margin: 0 auto;
}
.entry-content{
  border: 3px #ADD8E5 solid;
  border-radius: 4px;
  padding: 0 20px
}
.entry-buttons{
  text-align: right;
  padding-top: 5px;
}
.delete-button, .edit-button{
  color: white;
  border-color: #c4ebf1;
  background-color: #89C7e7;
  height: 30px;
  border-radius: 4px;
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
  font-weight:bolder;
}
.delete-button{
  margin-right: 5px;
}


/*  ========
      Menu
    ======== */
    .directory{
      font-size: 28px;
    }
    h1{
      font-size: 40px;
    }