body{
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  color: grey;
  width: 100%;
  margin: 0 auto;
}
a {
  color: #FFF;
  text-decoration: none;
}
button{
  cursor: pointer;
}
.nav-bar{
  background-color: #ADD8E5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 200px;
  border-bottom: solid;
  border-top: solid;
}
.menu-link{
  padding-right: 15px;
  padding-top: 10px;  
}


@media screen and (max-width: 1025px) {  
  .nav-bar{
    padding: 0 5px
  }
}