body{
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  color: grey;
}
.nav-bar{
  background-color: #ADD8E5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 200px;
}
.menu-link{
  color: grey;
  padding-right: 15px;
}

/*  ================
      Sign Up Page
    ================ */
.signup-form{
  display: flex;
  flex-direction: column;
  max-width: 25%;
  margin: 0 auto;
}


/*  ========
      Menu
    ======== */
.directory{
  font-size: 28px;
}
h1{
  font-size: 40px;
}


/*  ========
      Feed
    ======== */
.entry-container{
  /* border: solid 3px black; */
  padding: 20px;
  text-align: left;
  max-width: 50%;
  margin: 0 auto;
}
.entry-content{
  border: 3px #ADD8E5 solid;
  padding: 0 20px
}
.entry-buttons{
  text-align: right;
}