/*  =============
      Universal
    ============= */
body{
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  color: grey;
  width: 100%;
  margin: 0 auto;
}
a {
  color: #FFF;
  text-decoration: none;
}
button{
  cursor: pointer;
}
.nav-bar{
  background-color: #ADD8E5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 200px;
  border-bottom: solid;
  border-top: solid;
}
.menu-link{
  padding-right: 15px;
  padding-top: 10px;  
}


/*  ================
      Landing Page
    ================ */
.content-container{
  display: flex;
  max-width: 55%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 100px auto;
}
.logo-container{
  display: flex;
  flex-direction: column;
}
.signup-container{
  display: flex;
  flex-direction: column;
  min-width: 300px;
  min-height: 300px;
  padding-bottom: 20px;
}


.large-logo{
  padding: 30px;
}
.slogan{
  font-size: 30px;
}
.signup-label{
  color: #89C7e7;
  font-weight: bolder;
}
.signup-form{
  display: flex;
  flex-direction: column;
  min-height: 350px;
  margin: 0 auto;
  justify-content: space-evenly;
}
.signup-label{
  font-size: 22px;
}
.signup-input{
  height: 40px;
  width: 300px;
  border: 2px lightgrey solid;
  border-radius: 4px;
  border-style: inset;
  padding-left: 15px;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
}
.start-button{
  color: white;
  border-color: #c4ebf1;
  background-color: #89C7e7;
  height: 40px;
  width: 200px;
  align-self: center;
  border-radius: 4px;
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
  font-weight:bolder;
}


/*  =================
      New Entry Page
    ================= */
.greeting{
  font-size: 30px;
  padding-top: 100px;
}
.prompt{
  font-size: 34px;
}
.newentry-form {
  display: flex;
  flex-direction: column;
  max-width: 45%;
  margin: 50px auto;
  min-height: 300px;
  justify-content: space-evenly;
}
.newdate{
  height: 40px;
  width: 150px;
  padding-left: 15px;
  border: 2px lightgrey solid;
  border-radius: 4px;
  border-style: inset;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
}
.newthought{
  height: 100px;
  padding-left: 15px;
  border: 2px lightgrey solid;
  border-radius: 4px;
  border-style: inset;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
}
.add-button{
  height: 35px;
  width: 150px;
  align-self: center;
  border-radius: 4px;
  color: white;
  border-color: #c4ebf1;
  background-color: #89C7e7;
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
  font-weight: bolder;
}

/*  ========
      Feed
    ======== */
.newentry-button{
  margin-bottom: 30px;
  border-color: #c4ebf1;
  border-radius: 4px;
  font-size: 20px;
  background-color: #89C7e7;
  font-family: 'Quicksand', sans-serif;
}
.entry-container{
  /* border: solid 3px black; */
  padding: 20px;
  text-align: left;
  max-width: 50%;
  margin: 0 auto;
}
.entry-content{
  border: 3px #ADD8E5 solid;
  border-radius: 4px;
  border-style: inset;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}
.entry-buttons{
  text-align: right;
  padding-top: 5px;
}
.delete-button, .edit-button{
  color: white;
  border-color: #c4ebf1;
  background-color: #89C7e7;
  height: 30px;
  border-radius: 4px;
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
  font-weight:bolder;
}
.delete-button{
  margin-right: 5px;
}


/*  ========
      Menu
    ======== */
.directory{
  margin-top: 100px;
}
h1{
font-size: 40px;
}
.button-container{
      display: flex;
      flex-direction: column;
      max-width: 200px;
      margin: auto;
      min-height: 150px;
      justify-content: space-around;
    }
    .directory-buttons{
      border-color: #c4ebf1;
      border-radius: 4px;
      font-size: 28px;
      background-color: #89C7e7;
      font-family: 'Quicksand', sans-serif;
    }

/*  =================
      Media Queries
    ================= */
@media screen and (max-width: 1025px) {
  
  /* ===> Landing Page <=== */
  .nav-bar{
    padding: 0 5px
  }
  .content-container {
    flex-direction: column;
    margin: 0 auto;
    padding: 0 10px
  }
  .large-logo{
    width: 300px;
  }
  .signup-input{
    width: auto;
    margin: 10px 0;
  }
  
  /* ===> New Entry Page <=== */
  .greeting {
    padding-top: 50px;
    font-size: 24px;
  }
  .prompt {
    font-size: 28px;
  }
  .newentry-form{
    max-width: 65%;
    align-items: center;
  }
  .newdate, .newthought{
    align-self: center;
    margin: 0 10px 10px;
  }


  /* ===> Journal Feed <=== */
  h1 {
    font-size: 34px;
  }
  .newentry-button{
    font-size: 16px;
  }
  .entry-container{
    max-width: 70%;
  }
  .delete-button, .edit-button {
    font-size: 14px;
  }
  
  /* ===> Menu <=== */
.directory-buttons{
  font-size: 22px;
  width: 175px;
  align-self: center;
}
} 